/* #root {
  max-width: 1280px;
  margin: 0 ;
  padding: 0;
  text-align: center;
}
.logo{
  height: 100px;
} */
.boardNamePopUp:hover
{
  border: 1px solid blue;
  background-color: whitesmoke;

  & .deleteBoardPopup{
    display: block;
  }
}
.checkBox input[type="checkbox"]:checked + p {
  text-decoration: line-through;
}

.checkBox input[type="checkbox"] {
  display: none;
}

.checkItemTag {
  margin-left: 20px; 
}

.checkBox input[type="checkbox"]:checked + .checkItemTag {
  text-decoration: line-through;
}
